
<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- meta -->
        <!-- Bootstrap CSS -->
        <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- ECharts -->
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/js/echarts.min.js"></script>
        <title>ECharts graph</title>
    </head>

    <body>
        <!-- a DOM for echarts graph -->
        <div id="container" style="height: 400px; width: 800px;">
        </div>

        <script src="/static/js/getBarChart.js" type="text/javascript"></script>
    </body>

    <footer>
        <hr/>
        <p>©Copyright 2023 by <a href="https://github.com/MySummertime" target="_blank">Frances Jiang</a>. All rights reversed.</p>
    </footer>

</html>