<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My ECharts Dashboard</title>
		<!-- import JavaScript file of echarts -->
		<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
		<!-- import static files -->
		<script src="static/js/main.js"></script>
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<!-- Draw ECharts diagram -->
		<div id="myChart" style="width: 800px; height: 400px"></div>
		<!-- Placeholder for error message -->
		<div id="errorMessage"></div>
	</body>
</html>
